*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: #121212;
    text-decoration: none;
}

body{
    background-color: #f2f2f2 important!;
}

/*WHOLE*/
.Nav1{
    display:flex;
}

/*LEFT*/
.HomeLogo{
    display: flex;
    padding: 25px 25px;
    font-size: 25px;
}
/*LEFT*/
.HomeLink {
    color: initial;
    text-decoration: none;
    transition: color 0.2s;
}

.HomeLink{
    color: #8A00FF;
}




/*RIGHT*/
.NavBar{ /*container*/
    display: flex;
    padding: 25px 25px;
    justify-content: flex-end;
}

.NavBar ul{ /*list*/
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.NavBar ul li{/*list items*/
    display: flex;
    padding: 0 20px;
    font-size: 25px;
}

/*RIGHT*/
.NavBar ul li a:{
    color: initial;
    text-decoration: none;
    transition: color 0.2s;
}

.NavBar ul li a:hover{
    color: #8A00FF
}