

/* -------------------------------PART 1 */

.FieldTitle h1{
    color: #009BA5;
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 100px; /*adjustment*/
    margin-left: 50px;
    display: flex;
}

.FieldDetails{ /*container margin*/
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}

.FieldDetails ul{ /*list horizontal*/
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.FieldDetails ul li{
    margin-right: 50px;
    margin-left: 10px;
}

.FieldDetails ul li p{ /*text*/
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.FieldDetails ul li p:hover{
    color: #8A00FF;
}

.FieldDetails ul li img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
}


}