
    h2{
        margin-top: 150px;
        margin-left: 100px;
        font-size: 50px;
        text-align: center;
        color: #009BA5;
    }

    .ProjImages{
        padding: 2%;    
        margin-left: 500px;
    }

    .ProjImagesjs{
        display: none;
    }
